@mixin btn-style($bgColor, $textColor, $fontSize) {
  padding: 7px 15px;
  border: 1px solid black;
  text-align: center;
  font-family: "Lato-Semibold";
  color: $textColor;
  background-color: $bgColor;
  font-size: $fontSize;
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (max-width: 112.5em) {
      @content;
    }
  }
}
