@mixin btn-style($bgColor, $textColor, $fontSize) {
  padding: 7px 15px;
  // border: 1px solid black;
  text-align: center;
  font-family: "Lato-Semibold";
  color: $textColor;
  background-color: $bgColor;
  font-size: $fontSize;
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      // 600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      //900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      //1200px
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (max-width: 112.5em) {
      //1800px
      @content;
    }
  }
}

@mixin text-headline() {
  color: var(--color-text-main);
  font-family: var(--font-bold);
  font-size: 4rem;
  font-weight: lighter;
}

@mixin text-title() {
  text-align: center;
  color: var(--color-black);
  font-family: var(--font-bold);
  font-size: 3rem;
  font-weight: lighter;
}

@include respond(big-desktop) {
  font-size: 75%; // 1rem = 12px, 12/16 = 75%
}
@include respond(tab-land) {
  html {
    font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
  }
}
@include respond(tab-port) {
  html {
    font-size: 45%;
  }
}
@include respond(phone) {
  html {
    font-size: 35%;
  }
}
