.react-multi-carousel-dot--active {
  button {
    background: rgb(255, 255, 255) !important;
  }
}
.react-multi-carousel-dot {
  button {
    border-radius: initial;
    border: 0;
    background: rgba(228, 220, 220, 0.53);
    transform: translateY(-3rem);
    width: 2rem;
    height: 2rem;
  }
}
