@import "../../pages/homepage.styles.scss";

.slide {
  position: relative;

  .slide__img {
    height: 100%;

    img {
      width: 100vw;
    }
  }

  .slide__content {
    position: absolute;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);

    > * {
      margin-bottom: 1rem;
    }

    &--title {
      // color: var(--color-text-main);
      // font-family: var(--font-bold);
      // font-size: 4rem;
      // font-weight: lighter;
      @include text-title;
    }

    &--tagline {
      color: var(--color-text-sub);
      font-family: var(--font-main);
      font-size: 3rem;
    }

    &--link {
      @include btn-style(var(--color-black), var(--color-text-main), 1.5rem);
      margin-top: 1rem;
    }
  }
}

.react-multi-carousel-dot--active {
  button {
    background: rgb(255, 255, 255) !important;
  }
}
.react-multi-carousel-dot {
  button {
    border-radius: initial;
    border: 0;
    background: rgba(228, 220, 220, 0.53);
    transform: translateY(-3rem);
    width: 2rem;
    height: 2rem;
  }
}
